<form [formGroup]="form">
  <ion-list >
    <ion-item>
      <ion-input formControlName="id" label="Id" labelPlacement="stacked" readonly="true" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="nic" label="Nic" labelPlacement="stacked" readonly="true" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="cliente" label="Cliente" labelPlacement="stacked" readonly="true" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="direccion" label="Dirección" labelPlacement="stacked" readonly="true" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="municipio" label="Municipio" labelPlacement="stacked" readonly="true" type="text"></ion-input>
    </ion-item>
  </ion-list>
</form>